  server:
    port: 8000

  spring:
    application:
      name: gateway
    cloud:
      gateway:
        routes:
          - id: external-service  # port: 8081
            uri: lb://external-service
            predicates:
              - Path=/v1/external/**
            filters:
              - name: GlobalFilter
                args:
                  baseMessage: "글로벌 필터 실행시 기본으로 출력되는 메세지입니다"

          - id: member-service  # port: 8082
            uri: lb://member-service
            predicates:
              - Path=/v1/member/**
            filters:
              - name: GlobalFilter
                args:
                  baseMessage: "글로벌 필터 실행시 기본으로 출력되는 메세지입니다"

    redis:
      host: localhost
      port: 6379
    jwt:
      secret: thekeysizemustbegreaterthanorequalto256bits
      token:
        accessExpTime: 300000   # 5분
        refreshExpTime: 3600000 # 60분

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka